.hero-wrap {
  padding-top: 94px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66),
    url(../images/hero-Img.jpg);
}
.hero {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 106px;
  &__title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-primary-color);
  }
  &__button {
    padding: 10px 32px;

    color: var(--hero-primary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-text-color);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:active,
    &:focus,
    &:hover {
      background-color: var(--secondary-bthbckgrd-color);
    }
  }
}
