.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bc-);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(70%);
}
.modal {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 450px;
  min-height: 609px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  background-color: var(--hero-primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @include desktop {
    min-width: 528px;
    min-height: 581px;
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
    @include desktop {
      line-height: 1.15;
    }
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-btn {
  position: absolute;
  top: 7px;
  right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;

  background-color: var(--hero-primary-color);
  border-radius: 50%;
  border: 1px solid var(--modal-bth-border-);
  &__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus,
  &:hover {
    cursor: pointer;
    fill: var(--accent-text-color);
  }
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  &__input {
    display: block;
    height: 40px;
    padding-left: 42px;
    margin-top: 4px;
    border: 1px solid var(--border-modal-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0;
    &:hover,
    &:focus {
      border-color: var(--accent-text-color);
    }
  }
  &__icon {
    position: absolute;
    bottom: 11px;
    left: 14px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.form-field__input:hover + .form-field__icon,
.form-field__input:focus + .form-field__icon {
  fill: var(--accent-text-color);
}
.textarea-field {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  &__text {
    padding: 12px 16px;
    margin-top: 4px;
    width: 100%;
    min-height: 120px;
    resize: none;
    border-color: var(--border-modal-color);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0;
    &:hover,
    &:focus {
      border-color: var(--accent-text-color);
    }
    &::placeholder {
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: var(--textarea-color);
    }
  }
}
.checkbox {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-left: 23px;
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
  }
  &__input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  &__icon {
    position: absolute;
    border: 1px solid black;
    border-radius: 2px;
    top: -2px;
    left: 0;
    fill: var(--hero-primary-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include desktop {
      top: 3px;
      left: 8px;
    }
  }
  &__link {
    margin-left: 4px;
    color: var(--accent-text-color);

    @include desktop {
      margin-left: 9px;
    }
  }
}
.checkbox__input:checked ~ .checkbox__icon {
  background-color: var(--accent-text-color);
  border: 0;
}
.checkbox__input:focus ~ .checkbox__icon {
  border: 2px solid var(--accent-text-color);
}
.send-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-primary-color);

  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover,
.send-btn:focus {
  background-color: var(--secondary-bthbckgrd-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
