.list {
  list-style: none;
}
.link {
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
.container {
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
  @include mobile {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
