:root {
  /* color variables */
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-primary-color: #ffffff;
  --btn-bckgrd-color: #f5f4fa;
  --logo-text-color: #000000;
  --addr-link-color: rgba(255, 255, 255, 0.6);
  --secondary-bthbckgrd-color: #188ce8;
  --header-border-color: #ececec;
  --card-border-color: #eeeeee;
  --icon-fill: #afb1b8;
  --backdrop-bc-: rgba(0, 0, 0, 0.2);
  --modal-bth-border-: rgba(0, 0, 0, 0.1);
  --footer-secondary-bg-: rgba(255, 255, 255, 0.1);
  --card-bg-color: rgba(33, 150, 243, 0.9);
  --border-join-color: rgba(255, 255, 255, 0.3);
  --border-modal-color: rgba(33, 33, 33, 0.2);
  --textarea-color: rgba(117, 117, 117, 0.5);
  --footer-bckgrd-color: #2f303a;

  /* fonts variables */
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}
